.venv/
__pycache__/
*.pyc
.env
*.db
.DS_Store
.idea/
.vscode/
data/raw/*
data/processed/*
data/warehouse/*.db
data/models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/warehouse/.gitkeep
!data/models/.gitkeep
